*{
    margin: 0; padding: 0;
}
.header {
    background-color: #f3f3f3; 
    height: 803px;
}

.container {
    width: 419px;
    height: 364px;
    padding-top: 100px;
    padding-left: 768px;
    text-align: right;
}

h1 {
    font-size: 64px;
    font-family: 'Work Sans';
    font-style: normal;
}

button {
    background-color: #f15B22;
    padding: 18px 23px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

h4 {
    padding-bottom: 32px;
    color: #444343;
}
.img{
    width: 50px;
    height: 634px;
}
.topsection{
    display: flex;
    align-items: center;
}
.mainpic{
    width: 500px;
    height: 600px;
}
.main-heder{
    display: flex;
    height: 735.299805px;
    width: 979px;
    margin: auto;
    padding-left: 0px;
    padding-top: 120px;
    background-color: #FFFFFF;
}
.heading-section{
    text-align: justify;
    width: 301px;
    height: 300px;
    padding-top: 271px;
    padding-left: 174px;
    position: initial;
}
.heading {
    width: 280px;
    font-size: 28px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    padding-bottom: 22px;
}
.\31 st-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-bottom: 6px;
}
.paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-left: 19px;
}
.my-idea{
    display: block;
    display: flex;
    gap: 70px;
}
.title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    padding-bottom: 20px;
}
.full-section {
    width: 886px;
    margin: auto;
    padding: 72px 56px;
}
p.plan-title {
    font-family: 'Work Sans';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}
p.plan-description {
    font-family: 'Work Sans';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    /* line-height: 29px; */
    text-align: center;
    color: #737272;
}

