*{
    margin: 0; padding: 0;
}
/*header section*/
.header {
    background-color: #f3f3f3; 
    height: 803px;
}

.container {
    width: 419px;
    height: 364px;
    padding-top: 100px;
    padding-left: 768px;
    text-align: right;
}

h1 {
    font-size: 64px;
    font-family: 'Work Sans';
    font-style: normal;
}

button {
    background-color: #f15B22;
    padding: 18px 23px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

h4 {
    padding-bottom: 32px;
    color: #444343;
}
.img{
    width: 50px;
    height: 634px;
}
.topsection{
    display: flex;
    align-items: center;
}
.mainpic{
    width: 500px;
    height: 600px;
}
/*minu section*/

main.main-section {
    height: 1684px;
}
.main-heder{
    display: flex;
    height: 735.299805px;
    width: 979px;
    margin: auto;
    padding-left: 0px;
    padding-top: 120px;
    background-color: #FFFFFF;
}
.heading-section{
    text-align: justify;
    width: 301px;
    height: 300px;
    padding-top: 271px;
    padding-left: 174px;
    position: initial;
}
.heading {
    width: 280px;
    font-size: 28px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    padding-bottom: 22px;
}
.\31 st-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-bottom: 6px;
}
.paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-left: 19px;
}
.my-idea {
    display: block;
    display: flex;
    gap: 70px;
    text-align: center;
}
.title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    padding-bottom: 20px;
}
.full-section {
    width: 886px;
    margin: auto;
    padding: 72px 56px;
}
p.plan-title {
    font-family: 'Work Sans';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}
p.plan-description {
    font-family: 'Work Sans';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 18px;
    /* line-height: 29px; */
    text-align: center;
    color: #737272;
}
.last-section {
    width: 1030px;
    height: 300px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(picture/watch.png);
    border-radius: 8px;
    margin: auto;
}
.heading-tag {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 458px;
    padding: 47px 69px;
}
.button{
    background: none;
    background-color: white;
    padding: 12px 13px;
    background: #FFFFFF;
    border-radius: 5px;
    color: red;
}
.call-now {
    padding: 10px 69px;
}
/*footer section*/
.footer{
    background-color: #151414;
    color: white;
}
footer.footer {
    display: flex;
}


section.footer-section {
    display: flex;
}

.all-div-tag {
    width: 400px;
    padding: 55px 147px;
}


.footer-para {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
/* or 162% */
    color: #FFFFFF;
    padding-bottom: 26px;
}

.phone {
    padding-bottom: 24px;
}
section.footer-section {
    display: flex;
}

.footer-heading {
    font-family: 'Work Sans';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 45px;
    line-height: 53px;
/* identical to box height */
    color: #F8F8F8;
    padding-bottom: 7px;
}

.last-div-tag {
    padding: 68px 169px;
}

.Subscribe {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    /* line-height: 29px; */
    color: white;
    /* background-color: white; */
}

.email-text {

font-family: 'Work Sans';

font-style: normal;

font-weight: 392px;

font-size: -7px;

line-height: 21px;

/* Dark 07 */

color: #F3F3F3;

padding-bottom: 35px;

}

.final {
    background: none;
}


